body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fix for Mac Chrome 80", system-ui, -apple-system,
		BlinkMacSystemFont, ".SFNSText-Regular", sans-serif;
  font-size: 16px;
  background-color: #e9ebee;
}

* {
  box-sizing: border-box;
}
h1, select, button{
	margin: 0;
	padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header{
	display: flex;
	justify-content: space-between;
	background-color: #3b5998;
	color: white;
	padding: 10px 275px
}
header .logo {
	display: flex;
	align-items: center;
}
header button {
	margin-left: 10px;
	height: 2em;
	background-color: #42b72a;
	border: none;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
}
header select {
	background-color: #3b5998;
	color: white;
	border: none;
}

main {
	width: 981px;
	margin: 0 auto;
}
main .topic {
	margin-bottom: 40px;
}
main .figure-word {
	display: flex;
	justify-content: space-between;
}
main .figure-word .pic {
	background-color: white;
	margin: 0;
	width: 460px;
	display: table;
	vertical-align: middle;
}
main .figure-word figure {
	display: table-row;
	text-align: center;
	vertical-align: middle;
}
main .figure-word figure img {
	display: block;
	margin: 20px auto;
}
main .figure-word figure figcaption {
	font-weight: bolder;
	font-size: 1.2em;
	line-height: 2em;
	height: 2em;
}
main .figure-word .pic p {
	display: table-cell;
    vertical-align:middle;
    text-align:center;
    line-height: 1.5em;
    color: darkgray;
    padding: 10px 20px;
}
main .figure-word .pic .startButton {
	line-height: 100px;
	display: table-row;
}